extends layout

block content
  .jumbotron
    h1 Welcome to Toms Friday Demo!
    p.lead This is just a simple Flask app, built to run in a container, with CI through github changes triggering Azure DevOps pipeline builds, and CD through Azure DevOps pipeline deployment!.
    p
    <marquee direction="down" height="100" width="200" bgcolor="white">welcome</marquee>
    a.btn.btn-primary.btn-large(href='https://github.com/TomAylen/TAFridayDemo/') This is the code I am using from my GitHub &raquo;
  .row
    .col-md-4
     h2 Space for a picture
     img.className#IdName(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84c4be3c-feb3-4858-a632-63139626b410/d88r7e4-33a56189-d6f2-4a21-840d-d1c6bf05f60a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRjNGJlM2MtZmViMy00ODU4LWE2MzItNjMxMzk2MjZiNDEwXC9kODhyN2U0LTMzYTU2MTg5LWQ2ZjItNGEyMS04NDBkLWQxYzZiZjA1ZjYwYS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.o7pcoZco8sS24uGZgEe6BrMZrroh5a9o62TbbEqQCpM" alt="Dancing Jaguar")
     p
        a.btn.btn-default(href='http://flask.pocoo.org/docs/') Learn more &raquo;
    .col-md-4
      h2 Anyone Have any Questions?
      p The Python Package Index is a repository of software for the Python programming language.
      p
        a.btn.btn-default(href='https://pypi.python.org/pypi') Learn more &raquo;
    .col-md-4
      h2 Maybe another Picture here?
      img(src="https://i.insider.com/566b450ddd08953c448b46cf?width=700&format=jpeg&auto=webp")
      p
        a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;
