extends layout

block content
  .jumbotron
    h1 Welcome to Toms Friday Demo!
    p.lead This is just a simple Flask app, built to run in a container, with CI through github changes triggering Azure DevOps pipeline builds, and CD through Azure DevOps pipeline deployment!.
    p
    a.btn.btn-primary.btn-large(href='https://github.com/TomAylen/TAFridayDemo/') This is the code I am using from my GitHub &raquo;
  .row
    .col-md-4
      h2 Space for a picture
    p maybe a picture here?
    p
        a.btn.btn-default(href='http://flask.pocoo.org/docs/') Learn more &raquo;
    .col-md-4
      h2 Anyone Have any Questions?
      p The Python Package Index is a repository of software for the Python programming language.
      p
        a.btn.btn-default(href='https://pypi.python.org/pypi') Learn more &raquo;
    .col-md-4
      h2 Maybe another Picture here?
      p and another...?
      p
        a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;
